services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: aswin
      MYSQL_PASSWORD: 2465
      MYSQL_DATABASE: testing
    ports:
      - "3307:3306"
    networks:
      student-network:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    networks:
      student-network:


networks:
  student-network:


